// Specific CSS for your home-page
.main-container-index {
  display: flex;
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding: 8px;
}


@media(max-width: 992px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

body {
  background-color: #dfdfdf;
}
