.banner {
  background-size: cover;
  background-position: top;
  padding: 150px 0;
  p {
    color: #FFFF;
  }
  h1 {
    margin: 0;
    color: #FFFF;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
  }
  h2 {
    color: #FFFF;
  }
  h3 {
    color: #FFFF;
  }
}
